<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.n4js.runner.nodejs.ui.RunnerNodejsUiExecutableExtensionFactory:org.eclipse.n4js.runner.nodejs.ui.NodejsLaunchConfigurationDelegate"
            delegateDescription="Runs given selection with Node.js runner"
            delegateName="Node.js Runner Launch Configuration Delegate"
            id="org.eclipse.n4js.runner.nodejs.ui.launchConfigurationType"
            modes="run"
            name="Node.js Runner">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.n4js.runner.nodejs.ui.RunnerNodejsUiExecutableExtensionFactory:org.eclipse.n4js.runner.nodejs.ui.launch.NodejsRunnerLaunchConfigurationTabGroup"
            id="org.eclipse.n4js.runner.nodejs.ui.launchConfigurationTabGroup"
            type="org.eclipse.n4js.runner.nodejs.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.n4js.runner.nodejs.ui.RunnerNodejsUiExecutableExtensionFactory:org.eclipse.n4js.runner.nodejs.ui.NodeRunnerLaunchShortcut"
            icon="icons/icon_runner_nodejs.png"
            id="org.eclipse.n4js.runner.nodejs.ui.LaunchShortcut"
            label="Launch in Node.js"
            modes="run">
         <configurationType
               id="org.eclipse.n4js.runner.nodejs.ui.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
                       <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    
                    <iterate>
                          <test
                                args="org.eclipse.n4js.runner.nodejs.NODEJS"
                                property="org.eclipse.n4js.runner.ui.isSupportingRunner">
                          </test>
                    </iterate> 
                 </with>   
              </enablement>   
          </contextualLaunch>
      </shortcut>
   </extension>
 	<extension
   		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   		<launchConfigurationTypeImage
   				id="org.eclipse.n4js.runner.nodejs.ui.launchConfigurationTypeImage"
   				configTypeID="org.eclipse.n4js.runner.nodejs.ui.launchConfigurationType"
   				icon="icons/icon_runner_nodejs.png">
   		</launchConfigurationTypeImage>
   	</extension>	
</plugin>
