src-gen/
js-gen/
build/
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
.DS_Store
.#*
._*
Thumbs.db
.cache
.tmproj
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
.npm-version
.npm-log
.n4js.projectstate
*-gen.*

