<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
		 <category
            name="N4JS Exports"
            id="org.eclipse.n4js.ui.export">
      </category>
               
      
      <wizard
            category="org.eclipse.n4js.ui.export"
            class="org.eclipse.n4js.npmexporter.ui.NpmExporterExecutableExtensionFactory:org.eclipse.n4js.npmexporter.ui.NpmExportWizard"
            icon="icons/npm_export.png"
            id="org.eclipse.n4js.npmexporter.ui.NpmExporterWizard"
            name="N4JS npm Export">
         <description>
            Export N4JS project as npm package
         </description>
         <selection  class="org.eclipse.core.resources.IResource" />
               <!-- class="org.eclipse.core.resources.IProject">         </selection> -->
      </wizard>
   </extension>
</plugin>
