<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
	<!-- Xpect run menu item -->
    <extension
          point= "org.eclipse.debug.ui.launchShortcuts" >
       <shortcut
             class="org.eclipse.n4js.xpect.ui.LaunchXpectShortcut"
             icon="platform:/plugin/org.eclipse.n4js.xpect.ui/icons/xpect_run.png"
             id="org.eclipse.n4js.xpect.ui.LaunchXpectShortcut"
             label="Xpect run"
             modes="run"> 
          <configurationType
                id= "org.eclipse.n4js.xpect.ui.LaunchConfigurationType.XPECT" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsx.xt" >
                          </test>
                       </or>
                    </iterate>
                 </with>
              </enablement>
           </contextualLaunch>
       </shortcut>
   </extension>
   <!-- JIRA/GitHub bug menu items -->
   <extension
          point= "org.eclipse.debug.ui.launchShortcuts" >
       <shortcut
             class="org.eclipse.n4js.xpect.ui.GenerateJiraBugReportShortcut"
             icon="platform:/plugin/org.eclipse.n4js.xpect.ui/icons/bug_report.png"
             id="org.eclipse.n4js.xpect.ui.GenerateJiraBugReportShortcut"
             label="JIRA ticket generation for Xpect bug"
             modes="run"> 
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsx.xt" >
                          </test>
                       </or>
                    </iterate>
                 </with>
              </enablement>
           </contextualLaunch>
       </shortcut>
       <shortcut
             class="org.eclipse.n4js.xpect.ui.GenerateGitHubIssueReportShortcut"
             icon="platform:/plugin/org.eclipse.n4js.xpect.ui/icons/bug_report.png"
             id="org.eclipse.n4js.xpect.ui.GenerateGitHubIssueReportShortcut"
             label="GitHub issue generation for Xpect bug"
             modes="run">
          <contextualLaunch>
             <enablement>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <or>
                         <test
                               property="org.eclipse.debug.ui.matchesPattern"
                               value="*.n4jsx.xt">
                         </test>
                      </or>
                   </iterate>
                </with>
             </enablement>
          </contextualLaunch>
       </shortcut>
   </extension>
   
   <!-- Register .n4jsx file extension to XPECT -->
   <extension
      point="org.eclipse.xpect.testSuite">
         <testSuite
                class="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectTestClass"
                fileExtension="n4jsx">
         </testSuite>
   </extension>
</plugin>
