/src-gen
/org.eclipse.n4js.targetplatform.targetdef
/org.eclipse.n4js.targetplatform.b3aggr
/org.eclipse.n4js.targetplatform-mirror.target
/org.eclipse.n4js.targetplatform-zeroed.target
/n4mirror_local_org.eclipse.n4js.targetplatform.target
