<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.n4js.tester.ui.ActivationTrigger">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.n4js.tester.ui.IsTestableLocationPropertyTester"
            id="org.eclipse.n4js.tester.ui.IsTestablePropertyTester"
            namespace="org.eclipse.n4js.tester.ui"
            properties="isTestable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.n4js.category"
            class="org.eclipse.n4js.tester.ui.N4TesterUiExecutableExtensionFactory:org.eclipse.n4js.tester.ui.resultsview.TestResultsView"
            icon="icons/mangelhaft.png"
            id="org.eclipse.n4js.tester.ui.TestResultsView"
            name="Test Results">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.n4js.tester.ui.TesterUiStartup">
      </startup>
   </extension>

</plugin>
