<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.n4js.category"
            class="org.eclipse.n4js.smith.ui.SourceGraphView"
            icon="icons/graphAST.gif"
            id="org.eclipse.n4js.smith.ui.SourceGraphView"
            name="Source Graphs">
      </view>
      <view
            category="org.eclipse.n4js.category"
            class="org.eclipse.n4js.smith.ui.PerformanceView"
            icon="icons/graphAST.gif"
            id="org.eclipse.n4js.smith.ui.PerformanceView"
            name="Performance Graphs">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.n4js.smith.ui.menu"
               label="N4JS Smith">
            <command
                  commandId="org.eclipse.n4js.ui.ResourceLoadStatsHandler"
                  label="Resource Loading Statistics"
                  style="push"
                  tooltip="Check how many files are loaded from AST per n4js(x) file.">
            </command>
            <command
                  commandId="org.eclipse.n4js.ui.MassOpen"
                  label="Mass Open"
                  style="push"
                  tooltip="Open several files at once.">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.n4js.smith.ui.SmithExecutableExtensionFactory:org.eclipse.n4js.smith.ui.command.ResourceLoadStatsHandler"
            id="org.eclipse.n4js.ui.ResourceLoadStatsHandler"
            name="Resource Loading Statistics">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.n4js.smith.ui.SmithExecutableExtensionFactory:org.eclipse.n4js.smith.ui.command.MassOpenHandler"
            id="org.eclipse.n4js.ui.MassOpen"
            name="Mass Open">
      </command>
   </extension>
</plugin>
