<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.n4js.runner.chrome.ui.RunnerChromeUiExecutableExtensionFactory:org.eclipse.n4js.runner.chrome.ui.ChromeLaunchConfigurationDelegate"
            delegateDescription="Runs given selection with Chrome runner"
            delegateName="Chrome Runner Launch Configuration Delegate"
            id="org.eclipse.n4js.runner.chrome.ui.launchConfigurationType"
            modes="run"
            name="Chrome Runner">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.n4js.runner.chrome.ui.RunnerChromeUiExecutableExtensionFactory:org.eclipse.n4js.runner.ui.RunnerLaunchConfigurationTabGroup"
            id="org.eclipse.n4js.runner.chrome.ui.launchConfigurationTabGroup"
            type="org.eclipse.n4js.runner.chrome.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.n4js.runner.chrome.ui.RunnerChromeUiExecutableExtensionFactory:org.eclipse.n4js.runner.chrome.ui.ChromeRunnerLaunchShortcut"
            icon="icons/icon_runner_chrome.png"
            id="org.eclipse.n4js.runner.chrome.ui.LaunchShortcut"
            label="Launch in Chrome"
            modes="run">
         <configurationType
               id="org.eclipse.n4js.runner.chrome.ui.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
                       <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    
                    <iterate>
                          <test
                                args="org.eclipse.n4js.runner.chrome.CHROME"
                                property="org.eclipse.n4js.runner.ui.isSupportingRunner">
                          </test>
                    </iterate>   
                 </with>   
              </enablement>   </contextualLaunch>
      </shortcut>
   </extension>
 
</plugin>
