<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.n4js.product.N4JSApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.n4js.product.N4JSPerspective"
            icon="icons/n4_logo_16.png"
            id="org.eclipse.n4js.product.N4JSPerspective"
            name="N4JS Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.n4js.product.application"
            name="N4JS IDE">
         <property
               name="appName"
               value="N4JS IDE">
         </property>
         <property
               name="windowImages"
               value="icons/n4_logo_16.png,icons/n4_logo_16@2x.png,icons/n4_logo_32.png,icons/n4_logo_32@2x.png,icons/n4_logo_48.png,icons/n4_logo_64.png,icons/n4_logo_64@2x.png,icons/n4_logo_128.png,icons/n4_logo_128@2x.png,icons/n4_logo_256.png">
         </property>
         <property
               name="aboutImage"
               value="icons/n4_logo_128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.n4js.product.N4JSPerspective">

         <newWizardShortcut id="org.eclipse.n4js.ui.wizard.N4JSNewProjectWizard"/>
         <newWizardShortcut id="org.eclipse.n4js.ui.wizard.N4JSNewClassWizard"/>
         <newWizardShortcut id="org.eclipse.n4js.ui.wizard.N4JSNewInterfaceWizard"/>

         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.team.ui.GenericHistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               id="org.eclipse.n4js.tester.ui.TestResultsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.team.ui.GenericHistoryView">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="This activity is responsible to disable all unwanted contribution items inherited from the IDE application."
            id="org.eclipse.n4js.product.activity"
            name="disable">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>

      <!-- Action Contribution Items (Context Menus) -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/net.vtst.ow.eclipse.less.ui.nature.addAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.ConvertedProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/net.vtst.ow.eclipse.less.launching.compiler.shortcut">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.server.launchShortcut">
      </activityPatternBinding>
      <activityPatternBinding
			activityId="org.eclipse.n4js.product.activity"
			pattern=".*/org.eclipse.xtext.ui.refactoring.RenameElement">
	  </activityPatternBinding>
      <activityPatternBinding
			activityId="org.eclipse.n4js.product.activity"
			pattern=".*/org.eclipse.n4js.N4JS.validate">
	  </activityPatternBinding>
      <activityPatternBinding
			activityId="org.eclipse.n4js.product.activity"
			pattern=".*/org.eclipse.debug.ui.contextualLaunch.debug.submenu">
	  </activityPatternBinding>
	  <activityPatternBinding
			activityId="org.eclipse.n4js.product.activity"
			pattern=".*/ValidationAction">
	  </activityPatternBinding>
	  <activityPatternBinding
			activityId="org.eclipse.n4js.product.activity"
			pattern=".*/org.eclipse.wst.common.snippets.internal.actions.*">
	  </activityPatternBinding>

      <!-- Perspectives -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.SystemPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.DebugPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.JavaBrowsingPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.JavaPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.JavaHierarchyPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.team.ui.TeamSynchronizingPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ui.resourcePerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.PDEPerspective">
      </activityPatternBinding>
	  <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.perspective">
      </activityPatternBinding>

      <!-- Search Pages -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.internal.ui.search.SearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.JavaSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.internal.ui.search.JavaSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.internal.files.ui.search.SystemSearchPage">
      </activityPatternBinding>

      <!-- View Categories -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.internal.files.ui.search.SystemSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.internal.files.ui.search.SystemSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.internal.files.ui.search.SystemSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.internal.files.ui.search.SystemSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.internal.files.ui.search.SystemSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.java">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ant.ui.views">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.java.browsing">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js.xpect.ui.runner">
      </activityPatternBinding>

      <!-- Views -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.PluginsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.server.ui.ServersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.TypeHierarchy">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.JavadocView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.junit.ResultView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.debug.ui.DisplayView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.ProjectsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.TypesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.MembersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.callhierarchy.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.SourceView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.DependenciesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.PackageExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.TargetPlatformState">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.PackagesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.contentmodel.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.views.annotations.XMLAnnotationsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.swtbot.eclipse.spy.views.EclipseSpyView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.monitorView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js.performance.tests.ui.performanceview">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.team.ccvs.ui.EditorsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.views.annotations.XMLAnnotationsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.ExpressionView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.server.ui.ServersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.runtime.RegistryBrowser">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.JavadocView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.ImageBrowserView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.junit.ResultView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.VariableView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.PackageExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.RegisterView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.systemTableView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ide.n4js.performance.tests.ui.performanceview">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.debug.ui.DisplayView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.emf.ecore.xcore.ui.EOperationInvocationView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.gef.ui.palette_view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.team.ccvs.ui.RepositoriesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.MemoryView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ant.ui.views.AntView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.internet.monitor.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.ProjectsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.TypesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.callhierarchy.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.MembersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.systemView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.callhierarchy.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.SourceView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.JavadocView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.DebugView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtext.xtext.ui.graph.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.ModuleView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.DependenciesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.PackageExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.TypeHierarchy">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.SystemSearchView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.SourceView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.api.tools.ui.views.apitooling.views.apitoolingview">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.common.snippets.internal.ui.SnippetsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.teamView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.TargetPlatformState">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.PackagesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtend.ide.view.DerivedSourceView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.view.scratchpad.SystemScratchpadViewPart">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.BreakpointView">
      </activityPatternBinding>

      <!-- Import Wizards -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.FeatureImportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.internal.ui.importexport.breakpoints.WizardImportBreakpoints">
      </activityPatternBinding>
	  <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.import.launchconfigurations">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.equinox.p2.replication.import">
      </activityPatternBinding>
	  <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.equinox.p2.replication.importfrominstallation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.PluginImportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.internal.wizards.ImportXMLCatalogWizard">
      </activityPatternBinding>

      <!-- Export Wizards -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.internal.wizards.ExportXMLCatalogWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.internal.ui.importexport.breakpoints.WizardExportBreakpoints">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.debug.ui.export.launchconfigurations">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.equinox.p2.replication.export">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.internal.ui.fatjarpackager.JarPackageWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.pluginExportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.productExportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.featureExportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.target.wizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ant.ui.export">
      </activityPatternBinding>

      <!-- New Wizards -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.emf.mwe2.language.ui.wizard.NewMwe2FileWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.emf.ecore.presentation.EcoreModelWizardID">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.newWizards.connection">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.common.project.facet.ui.BasicFacetedProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtext.xtext.ui.wizard.releng.NewRelengProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.wizards.JavaProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.NewJSWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.server.ui.new.server">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.html.ui.internal.wizard.NewHTMLWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.web.ui.internal.wizards.SimpleWebProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtext.xtext.ui.wizard.project.NewXtextProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtext.xtext.ui.wizard.ecore2xtext.NewXtextProjectFromEcoreWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ant.ui.wizards.JavaProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.JavaProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewEnumCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewAnnotationCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.wizards.NewJavaWorkingSetWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.debug.ui.snippetEditor.NewSnippetFileCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.junit.wizards.NewTestCaseCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.junit.wizards.NewTestSuiteCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewLibraryPluginProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewFragmentWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewSchemaFileWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewFeatureProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewFeaturePatchWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewSiteProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewProductConfigurationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewProfileWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.NewCategoryWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
      </activityPatternBinding>

      <!-- Preference Pages -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.jsdt.ui.preferences.JavaBasePreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.emf.ecore.xcore.Xcore">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.emf.mwe2.language.Mwe2">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.pde.ui.MainPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.rse.ui.preferences.RemoteSystemsPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.swtbot.eclipse.ui.preferences.SWTBotPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtend.core.Xtend">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js.ts.model.coloring">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js.ts.model.templates">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js.ts.model.refactoring">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xpect.Xpect">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.ant.ui.AntPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.n4js.regex.RegularExpression">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/net.vtst.ow.eclipse.less.Less">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.html.ui.preferences.web">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.server.ui.preferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/ValidationPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.wst.xml.ui.preferences.xml">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.xtext.Xtext">
      </activityPatternBinding>

      <!-- Commands -->
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.gef.zoom_in">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.n4js.product.activity"
            pattern=".*/org.eclipse.gef.zoom_out">
      </activityPatternBinding>

   </extension>
</plugin>
