<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<!-- Note: If you change this file, make sure to check the corresponding files for sub-languages -->
<plugin>

    <extension point="org.eclipse.ui.views">
        <view id="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectView"
                name="Xpect View"
             icon="icons/test_view.png"
             category="org.eclipse.n4js.category"
                class="org.eclipse.n4js.xpect.ui.results.N4IDEXpectView"/>
    </extension>

    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType 
            delegate= "org.eclipse.n4js.xpect.ui.XpectConfigurationDelegate"
            id="org.eclipse.n4js.xpect.ui.LaunchConfigurationType.XPECT"
            modes="run"
            name="Run XPECT">
       </launchConfigurationType>
    </extension>

    <extension
           point="org.eclipse.debug.ui.launchConfigurationTypeImages">
           <launchConfigurationTypeImage
                   id="org.eclipse.n4js.xpect.ui.launchConfigurationTypeImage"
                   configTypeID="org.eclipse.n4js.xpect.ui.LaunchConfigurationType.XPECT"
                   icon="icons/xpect_run.png">
           </launchConfigurationTypeImage>
       </extension>

    <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            class= "org.eclipse.n4js.xpect.ui.LaunchConfigurationTabGroup"
            id= "org.eclipse.n4js.xpect.ui.LaunchConfigurationTabGroup.XPECT"
            type= "org.eclipse.n4js.xpect.ui.LaunchConfigurationType.XPECT" >
        </launchConfigurationTabGroup>
    </extension>

    <extension
          point= "org.eclipse.debug.ui.launchShortcuts" >
       <shortcut
             class="org.eclipse.n4js.xpect.ui.LaunchXpectShortcut"
             icon="icons/xpect_run.png"
             id="org.eclipse.n4js.xpect.ui.LaunchXpectShortcut"
             label="Xpect run"
             modes="run"> 
          <configurationType
                id= "org.eclipse.n4js.xpect.ui.LaunchConfigurationType.XPECT" >
          </configurationType>
           <contextualLaunch>
              <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsx.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsd.xt" >
                          </test>
                         <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.js.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.jsx.xt" >
                          </test>
                       </or>
                    </iterate>
                 </with>
              </enablement>
           </contextualLaunch>
       </shortcut>
    </extension>

    <extension
          point= "org.eclipse.debug.ui.launchShortcuts" >
       <shortcut
             class="org.eclipse.n4js.xpect.ui.GenerateJiraBugReportShortcut"
             icon="icons/bug_report.png"
             id="org.eclipse.n4js.xpect.ui.GenerateJiraBugReportShortcut"
             label="JIRA ticket generation for Xpect bug"
             modes="run"> 
           <contextualLaunch>
              <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsx.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsd.xt" >
                          </test>
                         <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.js.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.jsx.xt" >
                          </test>
                       </or>
                    </iterate>
                 </with>
              </enablement>
           </contextualLaunch>
       </shortcut>
       <shortcut
             class="org.eclipse.n4js.xpect.ui.GenerateGitHubIssueReportShortcut"
             icon="icons/bug_report.png"
             id="org.eclipse.n4js.xpect.ui.GenerateGitHubIssueReportShortcut"
             label="GitHub issue generation for Xpect bug"
             modes="run">
          <contextualLaunch>
             <enablement>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsx.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4jsd.xt" >
                          </test>
                         <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.js.xt" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.jsx.xt" >
                          </test>
                      </or>
                   </iterate>
                </with>
             </enablement>
          </contextualLaunch>
       </shortcut>
    </extension>

    <!-- JIRA/GitHub bug command -->
    <extension point="org.eclipse.ui.commands">
         <command
            description="Generate JIRA Bug Report"
            id="org.eclipse.n4js.xpect.ui.runner.generatebugcommand.jira"
            name="Generate JIRA Bug Report">
          </command>
         <command
               description="Generate GitHub Issue Report"
               id="org.eclipse.n4js.xpect.ui.runner.generatebugcommand.github"
               name="Generate GitHub Issue Report">
         </command>
         <command
               description="Compare Test Results"
               id="org.eclipse.n4js.xpect.ui.runner.comparecommand"
               name="Compare Test Results">
         </command>
    </extension>

    <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.n4js.xpect.ui.results.XpectCompareCommandHandler"
            commandId="org.eclipse.n4js.xpect.ui.runner.comparecommand">
      </handler>
      <handler
            class="org.eclipse.n4js.xpect.ui.results.GenerateGitHubIssueXpectReportCommandHandler"
            commandId="org.eclipse.n4js.xpect.ui.runner.generatebugcommand.github">
      </handler>
      <handler
            class="org.eclipse.n4js.xpect.ui.results.GenerateJIRABugXpectReportCommandHandler"
            commandId="org.eclipse.n4js.xpect.ui.runner.generatebugcommand.jira">
      </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.n4js.xpect.ui.runner.N4IDEXpectView">
         <command
            commandId="org.eclipse.n4js.xpect.ui.runner.comparecommand"
               style="push">
                <visibleWhen>
                   <with variable="activeMenuSelection">
                      <test property="org.eclipse.n4js.xpect.ui.runner.isTest" value="true"/>
                   </with>
                </visibleWhen>
         </command>
         <command
            commandId="org.eclipse.n4js.xpect.ui.runner.generatebugcommand.jira"
               style="push">
                <visibleWhen>
                   <with variable="activeMenuSelection">
                      <test property="org.eclipse.n4js.xpect.ui.runner.isSuite" value="true"/>
                   </with>
                </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.n4js.xpect.ui.runner.generatebugcommand.github"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <test
                        property="org.eclipse.n4js.xpect.ui.runner.isSuite"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
    </extension>

      <extension
         point="org.eclipse.ui.contexts">
          <context
            id="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectView.context"
            name="XpectView Context"
            parentId="org.eclipse.ui.contexts.window">
          </context>
       </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.eclipse.n4js.xpect.ui.runner.DescriptionTester"
              id="org.eclipse.n4js.xpect.ui.runner.descriptionTester"
              namespace="org.eclipse.n4js.xpect.ui.runner"
              properties="isTest, isSuite"
              type="org.eclipse.jface.viewers.IStructuredSelection">
        </propertyTester>
   </extension>

   <!-- Register .n4js file extension to XPECT -->
    <extension
          point="org.eclipse.xpect.testSuite">
      <testSuite
            class="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectTestClass"
            fileExtension="n4js">
      </testSuite>
    </extension>
    <extension
          point="org.eclipse.xpect.testSuite">
      <testSuite
            class="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectTestClass"
            fileExtension="n4jsx">
      </testSuite>
    </extension>
    <extension
          point="org.eclipse.xpect.testSuite">
      <testSuite
            class="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectTestClass"
            fileExtension="n4jsd">
      </testSuite>
    </extension>
    <extension
          point="org.eclipse.xpect.testSuite">
      <testSuite
            class="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectTestClass"
            fileExtension="js">
      </testSuite>
    </extension>
    <extension
          point="org.eclipse.xpect.testSuite">
      <testSuite
            class="org.eclipse.n4js.xpect.ui.runner.N4IDEXpectTestClass"
            fileExtension="jsx">
      </testSuite>
    </extension>

    <extension
         point="org.eclipse.xpect.fileExtensions">
      <fileExtension
            fileExtension="xt">
      </fileExtension>
   </extension>

</plugin>
